@font-face {
    font-family: "joshFont";
    src: url("Jost-Regular.ttf");
}

* {
    font-family: "joshFont", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    padding: 20px;
}

#teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    background-color: #FFF8E8;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.team img {
    width: 50%;
    border-radius: 8px;
}

.team-details {
    display: none;
    text-align: left;
    margin-top: 10px;
}

.member {
    margin-bottom: 10px;
}

.member a {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .team {
        width: 100%;
    }
}