/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.sidebar, .sidebar-big-width {
  position: absolute;
  display: flex;
  left: -350px;
  top: 0;
  height: 100%;
  width: 70%;
  transition: left 0.5s ease, visibility 0.5s ease;
  background-color: #fff8e8;
  justify-content: center;
  padding: 20px;
  visibility: hidden;
  max-width: 250px;
}

.labels, .labels-big-width {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar-big-width {
  display: none;
}

.label-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid #fcd581;
}

#close_sidebar, #close_sidebar_big {
  border: none;
  justify-content: right;
}

#navbar {
  display: flex;
  align-items: center;
  background-color: #fcd581;
  width: 100%;
  height: 10vh;
  padding: 13px;
  justify-content: space-between; 
}


#head {
  display: none;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

#sidebar_img, .label-items img {
  width: 47px;
  height: 48px;
  cursor: pointer;
}

#logo {
  display: none;
}

#search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
  align-items: center;
}

#search-container {
  display: flex;
  align-items: center;
  border: 2px solid #090909;
  padding-right: 9px;
  width: 83%;
  height: 58%;
  border-radius: 11px;
  max-width: 600px;
}

#searchinput {
  border: none;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#searchinput:focus {
  outline: none;
  border: none; 
}

#go_button {
  background-color: #424B54;
  width: 35%;
  height: 78%;
  border-radius: 8px;
  min-width: 38px;
  border: none;
  transition: all 0.2s linear;
  max-width: 88px;
}

#go_button:hover{
  cursor: pointer;
  background-color: #FFF8E8;
  border: 1px solid #424B54;
}
#search_img {
  width: 45px;
  height: 45px;
  padding: 9px;
}
#search_img:hover{
cursor: pointer;
}

#main_area {
  width: 100%;
  height: 90%;
}


@media screen and (min-width: 768px) {
  #head {
    display: inline;
    
  }
  #image_container{
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 250px;
  }
  
  #title_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 300px); 
  }
  
  #main_area {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 10vh);
  }

  #sidebar_img {
    display: none;
  }

  #sidebar {
    display: none;
  }

  .sidebar-big-width {
    display: flex;
    left: 0px;
    top: 10vh;
    height: calc(100vh - 10vh); 
    visibility: visible;
    border-right: 2px solid salmon;
  }

  #close_sidebar_big {
    display: none;
  }

  #logo {
    display: block;
    width: 64px;
    height: 69px;
  }

  .labels-big-width {
    justify-content: center;
    border: 2px dotted #fcd581;
  }

  .label-items:hover {
    cursor: pointer;
    background-color: #fcd581;
  }

}
