@font-face {
  font-family: joshFont;
  src: url("Jost-Regular.ttf");
}

* {
  font-family: joshFont, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.sidebar,
.sidebar-big-width {
  position: absolute;
  display: flex;
  left: -350px;
  top: 0px;
  height: 100%;
  width: 70%;
  transition: left 0.5s ease 0s, visibility 0.5s ease 0s;
  background-color: rgb(255, 248, 232);
  justify-content: center;
  padding: 20px;
  visibility: hidden;
  max-width: 250px;
}

.labels,
.labels-big-width {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar-big-width {
  display: none;
}

.label-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid rgb(252, 213, 129);
}

#close_sidebar,
#close_sidebar_big {
  border: none;
  justify-content: right;
}
.label-items:hover {
  cursor: pointer;
  background-color: rgb(252, 213, 129);
}

#close_sidebar:hover{
background-color: rgb(255, 248, 232);;
}

#navbar {
  display: flex;
  align-items: center;
  background-color: rgb(252, 213, 129);
  width: 100%;
  height: 10vh;
  padding: 13px;
  justify-content: space-between;
}

#head {
  display: none;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

#sidebar_img,
.label-items img {
  width: 47px;
  height: 48px;
  cursor: pointer;
}

#logo {
  display: none;
}

#search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
  align-items: center;
}

#search-container {
  display: flex;
  align-items: center;
  border: 2px solid rgb(9, 9, 9);
  padding-right: 9px;
  width: 83%;
  height: 58%;
  border-radius: 11px;
  max-width: 600px;
}

#searchinput {
  border: none;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#searchinput:focus {
  outline: none;
  border: none;
}

#go_button {
  background-color: rgb(66, 75, 84);
  width: 35%;
  height: 78%;
  border-radius: 8px;
  min-width: 38px;
  border: none;
  transition: all 0.2s linear 0s;
  max-width: 88px;
}

#go_button:hover {
  cursor: pointer;
  background-color: rgb(255, 248, 232);
  border: 1px solid rgb(66, 75, 84);
}

#search_img {
  width: 45px;
  height: 45px;
  padding: 9px;
}

#search_img:hover {
  cursor: pointer;
}

#main_area {
  width: 100%;
  height: 90%;
}

#item-container {
  width: 100%;
  height: 85%;
  display: grid;
  row-gap: 20px;
  /* column-gap: 1px; */
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow-y: auto;
  padding: 30px;
}

.item-desc {
  display: flex;
  flex-direction: column;
  color: black;
  height: 80%;
  text-align: left;
  justify-content: space-around;
}

.keys {
  height: 20%;
  color: black;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #424B54;
  border: 2px solid #424B54;
  width: 29%;
  max-width: 100px;
  margin: 2px;
  min-width: 80px;
}


.item {
  text-decoration:  none;
  min-width: 250px;
  height: 325px;
  width: 85%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #090909;
  place-self: center;
  
  /* background-color: #FCD581; */
}

.item:hover {
  color: white;
  background-color: #424B54;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item:hover .key {
  background-color: #ffffff;
}


.name {
  color: rgb(9, 9, 9);
  text-align: center;
  border-bottom: 2px solid;
}

.no-match {
  text-align: center; 
  margin-top: 20px; 
  color: #999;
}

.item:hover .item-desc{
  color: #ffffff;
}
.item:hover .name{
  color: #ffffff;
}




::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
  #head {
    display: inline;
  }

  #image_container {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 250px;
  }

  #title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 300px);
  }

  #item-container {
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    padding: 20px;
  }

  #main_area {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(90vh);
  }

  #sidebar_img {
    display: none;
  }

  #sidebar {
    display: none;
  }

  .sidebar-big-width {
    display: flex;
    left: 0px;
    top: 10vh;
    height: calc(90vh);
    visibility: visible;
  
  }

  #close_sidebar_big {
    display: none;
  }

  #logo {
    display: block;
    width: 64px;
    height: 69px;
  }

  .labels-big-width {
    justify-content: center;
  }

 
}
